.desktop__visible {
  display: block;
}

.tab__visible {
  display: none;
}

.mobile__visible {
  display: none;
}

.layer5 {
  position: absolute;
}

.layer6 {
  position: absolute;
}

.wrapper {
  #slider__section {
    .slider__container {
      .parallax {
        .large__circle {
          top: 10%;
          left: 5%;
        }

        .dotted__element {
          top: 14%;
          left: -18%;
        }

        .small__circle {
          bottom: 14%;
          right: 10%;
        }
      }
    }

    .slider__career {
      h1 {
        width: 90%;
        font-size: 80px;
      }

      .banner__career {
        width: 67%;
        float: left;
        margin-top: 20px;
        padding-left: 0;
      }
    }
  }

  #career__section {
    .parallax {
      .large__circle {
        right: -18%;
        top: 40%;
        background: #17d5a2;
        width: 600px;
        height: 600px;
      }

      .dotted__element{
        right: -18%;
        top: 25%;
        z-index: 2;
        width: 630px;
        height: 630px;
      }

    }

    h2 {
      line-height: 1;
      position: relative;
      color: #17d5a2;
      font-size: 285px;
      font-weight: 800;
      margin: 0;
    }

    .career__form__container {
      padding-top: 10px;

      h4 {
        font-size: 50px;
        font-weight: 800;
        line-height: 1;
        margin: -47px 0 0;
      }

      p {
        font-size: 22px;
        font-weight: 800;
        line-height: 1.3 !important;
        margin: 24px 0 0;
        width: 46%;
      }

      #career__form {
        margin: 0;
        padding-top: 70px;

        h5 {
          font-size: 26px;
          font-weight: 800;
          margin: 0;
        }

        .career__textbox {
          padding-top: 45px;

          .career__textbox__left {
            margin: 0 45px 0 0;
          }

          .form__group {
            position: relative;
            margin-bottom: 50px;
            width: 100%;

             input {
              font-size: 18px;
              font-weight: 700;
              color: #000;
              border: none;
              border-bottom: 5px solid #000;
              border-radius: 0;
              background: 0 0;
              font-family: Raleway, sans-serif;
              display: block;
              width: 100%;
              padding: 0.375rem 0.75rem;
              line-height: 1.5;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;

              &::placeholder {
                font-size: 18px;
                font-weight: 700;
                color: #000;
              }
            }

            .text__input{
              font-size: 18px;
              font-weight: 700;
              color: #000;
              border: none;
              border-bottom: 5px solid #000;
              border-radius: 0;
              background: 0 0;
              font-family: Raleway, sans-serif;
              display: block;
              width: 100%;
              padding: 0.375rem 0.75rem;
              line-height: 1.5;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;

              &::placeholder {
                font-size: 18px;
                font-weight: 700;
                color: #000;
              }
            }

            .text__input.error{
              border-color: #E42C3E;
            }

            .text__input.noerror{
              border-color: #000;
            }

          }

          .career__textbox__right {
            .career__textbox__left {
              margin: 0 0 0 45px;
            }
          }

          .last__form__group {
            margin: 0;
          }

          .custom__file__input {
            overflow: hidden;
            position: relative;
            opacity: 1;
            border: none;
            border-bottom: 5px solid #000;
            border-radius: 0;
            background: 0 0;
            display: inline-block;
            z-index: 2;
            width: 100%;
            height: calc(2.25rem + 2px);
            margin: 0;

            .file__input {
              width: 100%;
              height: 100%;
              opacity: 0;
              zoom: 1;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 3;
              border-radius: 3px;
            }

            .resume__input {
              box-shadow: none;
              background: 0 0;
              border: none;
              width: 100%;
              height: 100%;
              font-size: 18px;
              font-weight: 700;
              color: #000;
            }

            .placeholder__text {
              top: 8px;
              left: 155px;
              color: #006a4e;
              font-size: 12px;
              font-weight: 700;
              position: absolute;
              z-index: 1;
            }
          }
        }

        .career__checkbox__total {
          h5 {
            padding-top: 76px;
          }

          h6 {
            font-size: 20px;
            font-weight: 800;
            margin: 0;
            padding: 45px 0 35px;
          }

          .checkbox {
            display: inline-block;
            vertical-align: middle;
            margin: 5px;
            cursor: pointer;
            opacity: 0;
            position: absolute;

            &:checked + .label::before {
              content: url(/asset/tick.png);
              background: #fff;
              color: #14b88c;
              border: none;
              font-size: 14px;
            }
          }

          .label {
            font-size: 18px;
            text-transform: capitalize;
            letter-spacing: normal;
            color: #000;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            cursor: pointer;

            &::before {
              content: "";
              border: 3px solid #000;
              height: 22px;
              width: 22px;
              margin-right: 18px;
              padding: 0;
              line-height: 1.2;
              font-size: 18px;
              background: 0 0;
              display: inline-block;
              vertical-align: middle;
              text-align: center;
            }
          }
        }

        .career__description {
          margin-top: 60px;
          position: relative;

          .textarea__input {
            resize: none;
            width: 100%;
            height: 145px;
            font-size: 18px;
            font-weight: 700;
            padding-left: 0;
            position: relative;
            z-index: 2;
            border: none;
            border-bottom: 5px solid #000;
            border-radius: 0;
            background: 0 0;
          }
        }

        .submit {
          padding: 15px 60px;
          margin: 50px 0 80px;
          border-radius: 30px;
          cursor: pointer;
          border: none;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
