.desktop__visible {
  display: block;
}

.tab__visible {
  display: none;
}

.mobile__visible {
  display: none;
}

.wrapper {
  #slider__section2 {
    background: rgb(255, 255, 255);
    height: 100vh;
    top: -100px;
    margin-bottom: -100px;
    position: relative;
    margin: 0 15px;
    width: 100%;
    overflow: hidden;

    .container {
      position: relative;
      height: 100%;
    }
    .slider__container {
      height: 100vh;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;

      .parallax {
        .layer1 {
          position: relative;
        }
        .layer2 {
          position: absolute;
        }
        .layer3 {
          position: absolute;
        }
        .layer4 {
          position: absolute;
        }
        .layer5 {
          position: absolute;
        }

        .large__circle {
          top: 12%;
          left: -2%;
          width: 600px;
          height: 600px;
        }

        .dotted__element {
          top: 10%;
          left: -19%;
          width: 630px;
          height: 630px;
        }

        .small__circle {
          bottom: 10%;
          left: 20%;
        }

        .largest__circle {
          top: 12%;
          right: -20%;
          width: 800px;
          height: 800px;
          border-radius: 50%;
          position: absolute;
        }

        .dotted__green__element {
          background: url("/asset/green-plus-bg.png");
          background-position: top left;
          background-repeat: repeat;
          width: 700px;
          height: 700px;
          border-radius: 50%;
          position: absolute;
          top: 4%;
          right: -14%;
        }
      }

      .slider__text__container {
        position: absolute;
        top: 50%;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: -148.5px;
        opacity: 1;
        padding-left: 60px;
        height: auto !important;
        left: 0;
        max-width: none !important;
        z-index: 2;
        margin-bottom: 0;

        h1 {
          font-weight: 800;
          margin: 0;
          font-size: 80px;
          line-height: 1.1;
        }

        h2 {
          font-size: 110px;
          line-height: 1;
          font-weight: 800;
          margin: 0;
        }

        .slider__caption {
          float: left;
          width: 69%;
          display: block;
          font-size: 24px;
          font-weight: 600;
          padding-left: 0;
          margin-top: 25px;
        }
      }

      .scroll__animation__parent {
        position: absolute;
        z-index: 3;
        bottom: 20px;
        left: 50%;
        margin-left: -16px;
        width: 32px;
        height: 32px;
        font-size: 32px;
        text-align: center;
        color: #fff;
        animation-name: bounce;
        animation-timing-function: ease;
        animation-duration: 1.1s;
        animation-iteration-count: infinite;
      }

      @keyframes bounce {
        from {
          opacity: 0;
          transform: translate(0, -50px);
        }

        to {
          transform: translate(0, 20px);
          opacity: 1;
        }
      }

      .scroll__animation {
        color: #000;
      }
    }
  }

  #content {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;

    .content__wrapper {
      position: relative;

      #contact__section {
        h2 {
          color: #17d5a2;
          line-height: 0.8;
          font-size: 285px;
          position: absolute;
          font-weight: 800;
          margin: 0;
        }

        .container {
          position: relative;
        }

        .contact__container {
          padding-bottom: 80px;

          .contact__child {
            text-align: center;

            img {
              margin: 0 auto;
            }

            .contact__address {
              padding-top: 40px;
              margin: 0;

              h4 {
                font-size: 40px;
                line-height: 1;
                font-weight: 800;
                margin: 0;
              }

              p {
                padding: 30px 0 15px;
                font-size: 16px;
                font-weight: 800;
                width: 54%;
                margin: 0 auto;
                line-height: 1.5;
              }

              .contact__address__child {
                label {
                  font-size: 16px;
                  font-weight: 800;
                  padding-right: 5px;
                  cursor: text;
                }

                a {
                  font-weight: 800;
                  font-size: 16px;
                }

                .link {
                  position: relative;
                  padding: 0 5px;
                  z-index: 2;
                  transition: all ease 0.4s;

                  &::after {
                    content: "";
                    background: #000;
                    height: 5px;
                    position: absolute;
                    right: 0;
                    z-index: -1;
                    transition: all ease 0.6s;
                    left: 0;
                    bottom: -7px;
                  }
                }
              }
            }
          }
        }

        .contact__text {
          padding-bottom: 260px;

          h4 {
            font-size: 50px;
            font-weight: 800;
            margin: 0;
          }

          p {
            font-size: 22px;
            font-weight: 800;
            width: 37%;
            line-height: 1.3;
            margin: 0;
          }
        }
      }

      #contact__us__section {
        width: 70%;
        float: right;
        margin: -190px 0 160px;
        box-shadow: 0 0 45px 3px rgba(0, 0, 0, 0.3);
        background: #fff;
        padding: 80px 140px;
        z-index: 2;
        position: relative;

        form {
          padding: 0;
          margin: 0;

          h4 {
            font-size: 26px;
            font-weight: 800;
            margin: 0;
          }

          .contact__form__text {
            padding-top: 40px;

            .contact__text__left {
              margin: 0 45px 85px 0;

              .text__group {
                position: relative;
                margin-bottom: 50px;
                width: 100%;

                .text__input {
                  font-size: 18px;
                  font-weight: 700;
                  color: #000;
                  border: none;
                  border-bottom: 5px solid #000;
                  border-radius: 0;
                  background: 0 0;
                  display: block;
                  width: 100%;
                  padding: 0.375rem 0.75rem;
                  line-height: 1.5;
                  transition: border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;

                  &:invalid {
                    box-shadow: none;
                  }
                }

                .text__input.error{
                  border-color: #E42C3E;
                }

                .text__input.noerror{
                  border-color: #000;
                }
              }
            }

            .contact__text__right {
              .contact__text__left {
                margin-right: 0;
                margin-left: 45px;
              }
            }
          }

          .contact__checkbox {
            padding: 60px 0 25px;

            ul {
              margin: 0;
              padding: 0;

              li {
                margin: 0;
                padding: 0;
                width: 33%;
                display: inline-block;

                .checkbox__parent {
                  .checkbox__child {
                    .checkbox {
                      display: inline-block;
                      vertical-align: middle;
                      margin: 5px;
                      cursor: pointer;
                      opacity: 0;
                      position: absolute;
                    }

                    .label {
                      font-size: 18px;
                      text-transform: capitalize;
                      letter-spacing: normal;
                      color: #777;
                      margin: 0 0 30px;
                      position: relative;
                      display: inline-block;
                      vertical-align: middle;
                      cursor: pointer;

                      &::before {
                        content: "";
                        border: 3px solid #000;
                        height: 22px;
                        width: 22px;
                        margin-right: 18px;
                        padding: 0;
                        line-height: 1.2;
                        font-size: 18px;
                        background: 0 0;
                        display: inline-block;
                        vertical-align: middle;
                        text-align: center;
                      }
                    }
                  }

                  .checkbox__child .checkbox:checked + .label::before {
                    content: url("/asset/tick.png");
                    background: #14b88c;
                    color: #000;
                    border: none;
                    font-size: 16px;
                    line-height: 21px;
                    height: 22px;
                    width: 22px;
                    margin-right: 18px;
                    padding: 0;
                  }
                }
              }
            }
          }

          .contact__submit {
            margin: 0;

            input {
              padding: 15px 60px;
              border-radius: 30px;
              cursor: pointer;
              border: none;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 600;

              &:hover {
                animation: green 0.6s linear 0s;
              }

              @keyframes green {
                0% {
                  box-shadow: 0 0 0 2px rgba(20, 184, 140, 0.3);
                }
                25% {
                  box-shadow: 0 0 0 10px rgba(20, 184, 140, 0.3);
                }
                50% {
                  box-shadow: 0 0 0 15px rgba(20, 184, 140, 0.2);
                }
                75% {
                  box-shadow: 0 0 0 18px rgba(20, 184, 140, 0.1);
                }
                100% {
                  box-shadow: 0 0 0 20px rgba(20, 184, 140, 0);
                }
              }
            }
          }
        }
      }
    }
  }
}


