.cyber__wrapper {
  width: 100%;
  position: relative;
  margin: 0;

  #slider__section {
    margin-bottom: 0;
    .slider__container {
      background-image: url("/asset/cyber_bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .parallax {
      .layer1 {
        position: relative;
        z-index: 0;
      }

      .green__circle {
        top: 18%;
        right: -15%;
        position: absolute;
        background: rgba(20, 184, 140, 0.65);
        width: 600px;
        height: 600px;
        border-radius: 50%;
      }

      .layer2 {
        position: absolute;
      }

      .medium__circle {
        right: auto;
        top: auto;
        left: -8%;
        bottom: 13%;
        background: rgba(20, 184, 140, 0.65);
      }
    }

    .container {
      padding: 0;
    }

    .ui__banner {
      position: absolute;
      top: 50%;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: -138.75px;
      padding-left: 60px;

      label {
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        margin: 0;
        text-transform: capitalize;
        cursor: text;
        display: block;
      }

      h1 {
        font-size: 80px;
        line-height: 1.1;
      }

      span{
        display: block;
      }

      span.last__child {
        display: inline-block;
        position: relative;

        &::after {
          display: block;
          height: 10px;
          bottom: -15px;
          left: 0;
          position: absolute;
          width: 100%;
          content: "";
          background: #14b88c;
        }
      }

      a {
        margin-top: 90px;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          animation: green 0.6s linear 0s;
        }
      }
    }
  }

  #ui_ux__section {
    position: relative;

    .ecommerce_solution_content {
      h2 {
        width: 833px;
        margin-bottom: 50px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        width: 829px;
        line-height: 1.6 !important;
      }
    }
  }

  .cyber_security_content {
    display: flex;
    align-items: center;

    h2 {
      font-size: 70px;
      line-height: 1.1;
      font-weight: 800;
      margin: 0;
    }

    .cyber_content_left {
      padding: 0 0 0 200px;

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5 !important;
        font-family: "Montserrat", sans-serif;
        width: 558px;
        margin: 40px 0 25px;
      }

      span {
        font-weight: bold;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        line-height: 1.3;
        display: block;
        padding: 0 0 25px;
        width: 80%;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;

        li {
          font-size: 16px;
          font-weight: 500;
          padding-bottom: 20px;
          position: relative;
          padding-left: 35px;

          &::before {
            content: "\f058";
            font-family: "Font Awesome 5 Free";
            font-size: 20px;
            font-weight: 600;
            top: -2px;
            color: #14b88c;
            display: block;
            position: absolute;
            left: 0;
          }
        }
      }
    }


  .cyber_content_right{
    text-align: center;
    padding-top: 0;

  }


  }

}
