.frontend__wrapper {
  width: 100%;
  position: relative;
  margin: 0;

  #slider__section {
    margin-bottom: 0;
    .slider__container {
      background-image: url("/asset/frontend-banner.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .parallax {
      .layer1 {
        position: relative;
        z-index: 0;
      }

      .green__circle {
        top: 18%;
        position: absolute;
        left: -15%;
        right: auto;
        background: rgba(20, 184, 140, 0.65);
        width: 600px;
        height: 600px;
        border-radius: 50%;
      }

      .layer2 {
        position: absolute;
      }

      .medium__circle {
        right: -8%;
        left: auto;
        background: rgba(20, 184, 140, 0.65);
        bottom: 13%;
      }
    }

    .container {
      padding: 0;
    }

    .ui__banner {
      position: absolute;
      top: 50%;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: -223.75px;
      padding-left: 60px;

      label {
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        margin: 0;
        text-transform: capitalize;
        cursor: text;
        display: block;
      }

      h1 {
        font-size: 80px;
        line-height: 1.1;
      }

      span.last__child {
        display: inline-block;
        position: relative;

        &::after {
          display: block;
          height: 10px;
          bottom: -15px;
          left: 0;
          position: absolute;
          width: 100%;
          content: "";
          background: #14b88c;
        }
      }

      ul {
        margin: 40px 0 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0;
          padding: 0 20px 0 0;
          display: inline-block;
        }
      }

      .ui__icon__container {
        .ui__icon {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 2px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          font-size: 13px;
          font-weight: 600;
          text-align: center;
          margin: 10px 0 0;
        }
      }

      a {
        margin-top: 90px;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          animation: green 0.6s linear 0s;
        }
      }
    }
  }

  #ecommerce__section {
    .ecommerce__container {
      position: relative;

      .parallax {
        .layer3 {
          position: relative;
          .large__circle {
            position: absolute;
            bottom: 0;
            left: -16%;
            width: 600px;
            height: 600px;
          }
        }

        .layer4 {
          position: absolute;

          .small__circle {
            position: absolute;
            bottom: 13%;
            right: 10%;
          }
        }
      }

      .ecommerce__content {
        padding-left: 170px;
        padding-bottom: 80px;
      }

      h2 {
        width: 833px;
        margin-bottom: 50px;
        font-size: 70px;
        line-height: 1.1;
        font-weight: 800;
        margin: 0;

        a {
          position: relative;
          padding: 0 20px;
          margin: 0 -20px;
          display: inline-block;
          z-index: 2;
          transition: all ease 0.4s;
          color: #000;

          &::after {
            content: "";
            display: block;
            background: #14b88c;
            height: 10px;
            position: absolute;
            right: 20px;
            left: 20px;
            bottom: -15px;
            z-index: -1;
            transition: all 0.4s cubic-bezier(0.2, 0, 0, 1);
          }

          &:hover::after{
              right: 0;
              left: 0;
              height: 120%;
          }
          
          &:hover{
            color: white;
          }
        }
      }

      p {
        font-weight: 500;
        font-size: 16px;
        width: 829px;
        line-height: 1.6 !important;
        margin-bottom: 30px;
        margin-top: 50px;
      }

      ul {
        margin: 80px 0 0;
        padding: 0;
        list-style-type: none;
      }

      li {
        margin: 0 20px 0 0;
        padding: 0;
        display: inline-block;

        a {
          font-size: 20px;
          font-weight: bold;
          border-radius: 30px;
          border: 3px solid #14b88c;
          padding: 15px 25px;

          i {
            padding-right: 10px;
          }

          &:hover {
            animation: green 0.6s linear 0s;
          }
        }
      }
    }
  }

  #frontend__section {
    padding-bottom: 100px;

    .frontend__container {
      h2 {
        width: 720px;
        font-size: 70px;
        line-height: 1.1;
        font-weight: 800;
        margin: 0;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6 !important;
        margin: 30px 0 0;
        width: 755px;
      }

      ul {
        margin: 60px 0 0;
        padding: 0;
        list-style-type: none;
      }

      li {
        margin: 0;
        padding: 0;
        display: inline-block;
        width: 25%;
        position: relative;

        &::after {
          content: "";
          display: block;
          background: #fff;
          height: 2px;
          position: absolute;
          top: 35px;
          left: 177px;
        }

        .frontend_solution_circle {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            box-shadow: inset 0 0 0 10px rgb(0, 0, 0),
              inset 0 0 0 20px rgba(255, 255, 255, 0);
          }
        }

        .frontend_solution_child {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #fff;
        }

        .frontend_solution__text {
          text-align: center;
          padding-top: 40px;

          label {
            font-size: 30px;
            font-weight: 800;
            color: #000;
            cursor: text;
            margin: 0;
            text-transform: capitalize;
            letter-spacing: normal;
          }

          p {
            width: 195px;
            margin: 10px auto 0;
            line-height: 1.5 !important;
            font-size: 16px;
            font-weight: 500;
          }
        }

        .frontend_bar__progress_one {
          position: absolute;
          top: 0;

          &::after {
            content: "";
            display: block;
            background: #fff;
            height: 2px;
            position: absolute;
            top: 35px;
            left: 177px;
            animation: bar-one 300ms linear 200ms forwards;
          }
        }

        .frontend_bar__progress_two {
          position: absolute;
          top: 0;

          &::after {
            content: "";
            display: block;
            background: #fff;
            height: 2px;
            position: absolute;
            top: 35px;
            left: 177px;
            animation: bar-two 300ms linear 600ms forwards;
          }
        }

        .frontend_bar__progress_three {
          position: absolute;
          top: 0;

          &::after {
            content: "";
            display: block;
            background: #fff;
            height: 2px;
            position: absolute;
            top: 35px;
            left: 177px;
            animation: bar-three 300ms linear 600ms forwards;
          }
        }

        @keyframes bar-one {
          0% {
            width: 0;
          }

          100% {
            width: 216px;
          }
        }

        @keyframes bar-two {
          0% {
            width: 0;
          }

          100% {
            width: 216px;
          }
        }

        @keyframes bar-three {
          0% {
            width: 0;
          }

          100% {
            width: 216px;
          }
        }
      }
    }
  }

  #psd_to_html__section {
    padding: 60px 0 0;

    .hosted_ecommerce_left {
      padding: 150px 0 0 250px;

      h2 {
        width: 490px;
        font-size: 70px;
        line-height: 1.1;
        font-weight: 800;
        margin: 0;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        margin: 40px 0 0;
        line-height: 1.6 !important;
        width: 585px;
      }

      ul {
        margin: 30px 0 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: 0 0 20px;
          display: block;
          font-weight: 500;
          font-size: 16px;
          position: relative;
          padding-left: 35px;

          &::after {
            content: "\f058";
            display: block;
            font-family: "Font Awesome 5 Free";
            font-size: 25px;
            font-weight: 600;
            position: absolute;
            top: -6px;
            left: 0;
            color: #14b88c;
          }
        }
      }
    }
  }

}
