.graphics__wrapper {
  width: 100%;
  position: relative;
  margin: 0;

  #slider__section {
    margin-bottom: 0;
    .slider__container {
      background-image: url("/asset/graphic-banner.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .container {
      padding: 0;
    }

    .ui__banner {
      position: absolute;
      top: 50%;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: -138.75px;
      padding-left: 60px;

      label {
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        margin: 0;
        text-transform: capitalize;
        cursor: text;
        display: block;
      }

      h1 {
        font-size: 80px;
        line-height: 1.1;
      }

      span{
        display: block;
      }

      span.last__child {
        display: inline-block;
        position: relative;

        &::after {
          display: block;
          height: 10px;
          bottom: -15px;
          left: 0;
          position: absolute;
          width: 100%;
          content: "";
          background: #14b88c;
        }
      }

      a {
        margin-top: 90px;
        display: inline-block;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          animation: green 0.6s linear 0s;
        }
      }
    }
  }

  #graphic_design__section {
    position: relative;

    .parallax {
      .layer3 {
        position: relative;
      }

      .layer4 {
        position: absolute;
      }

      .large__circle {
        bottom: -15%;
        left: -6%;
        width: 350px;
        height: 350px;
      }

      .small__circle {
        bottom: 0;
        right: 2%;
      }
    }

    .ecommerce_solution_content {
      h2 {
        width: 810px;
        margin-bottom: 50px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        width: 829px;
        line-height: 1.6 !important;
      }
    }
  }

  #hire_section__1 {
    .hire_us_for {
      position: relative;
      overflow: visible;

      h2 {
        text-align: center;
        font-size: 80px;
        line-height: 1.1;
        font-weight: 800;
        margin: 0;
      }
    }

    .hire_us_total {
      padding: 80px 0 0;
    }

    .hire_us_child_content {
      border: 1px solid #e6e6e6;
      border-right: none;
    }

    .hire_us_child_content.border_top_none {
      border-top: none;
    }

    .hire_us_child_content.border_bottom {
      border-bottom: none !important;
    }

    .hire_us_child_content.first_child {
      border-left: none;
      border-top: none;
    }

    .hire_us_child_parent {
      display: inline-block;
      padding: 60px 30px;
      background: #fff;
      position: relative;
      height: 440px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        transform: scale3d(1, 1, 1);
        box-shadow: 4px 4px 23px rgba(0, 0, 0, 0);
        transition: all ease-in-out 0.4s;
      }

      &:hover::before {
        box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
        transform: scale3d(1.05, 1.05, 1.05);
        z-index: 2;
      }

      &:hover span {
        color: #14b88c;
      }

      img {
        position: relative;
        z-index: 2;
      }

      span {
        font-size: 25px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        display: block;
        line-height: normal;
        color: #000;
        padding: 20px 0;
        position: relative;
        z-index: 2;
        transition: all ease-in-out 0.4s;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5 !important;
        margin: 0;
        position: relative;
        z-index: 2;
      }
    }

    .hire_us_carousel {
      position: absolute;
      width: 710px;
      height: 100%;
      padding: 30px 0 0;

      .hire_us_carousel_item {
        position: relative;
      }
    }

    .owl-theme .owl-dots .owl-dot span {
      margin: 0 12px 0 12px;
      width: 12px;
      height: 12px;
    }
  }

  #hire_section__2 {
    .hire_us_bottom {
      padding: 0 0 80px;
    }

    .hire_us_child_content {
      border: 1px solid #e6e6e6;
    }

    .hire_us_child_content.border_top_none {
      border-top: none;
    }

    .hire_us_child_content.border_bottom {
      border-bottom: none !important;
    }

    .hire_us_child_content.border_right {
      border-right: none !important;
    }

    .hire_us_child_content.first_child {
      border-left: none;
    }

    .hire_us_child_parent {
      display: inline-block;
      padding: 60px 30px;
      background: #fff;
      position: relative;
      height: 440px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        transform: scale3d(1, 1, 1);
        box-shadow: 4px 4px 23px rgba(0, 0, 0, 0);
        transition: all ease-in-out 0.4s;
      }

      &:hover::before {
        box-shadow: 4px 4px 23px rgba(0, 0, 0, 0.15);
        transform: scale3d(1.05, 1.05, 1.05);
        z-index: 2;
      }

      &:hover span {
        color: #14b88c;
      }

      img {
        position: relative;
        z-index: 2;
      }

      span {
        font-size: 25px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        display: block;
        line-height: normal;
        color: #000;
        padding: 20px 0;
        position: relative;
        z-index: 2;
        transition: all ease-in-out 0.4s;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5 !important;
        margin: 0;
        position: relative;
        z-index: 2;
      }
    }
  }
}
