.desktop__visible {
  display: block;
}

.tab__visible {
  display: none;
}

.mobile__visible {
  display: none;
}

.wrapper {
  #slider__section {
    .layer4 {
      position: absolute;
    }

    .medium__circle {
      right: -8%;
      top: 25%;
    }

    .dotted__green {
      top: 15%;
      right: -8%;
      width: 400px;
      height: 400px;
    }

    .slider__story {
      margin-top: -243.5px;
    }

    .banner__story {
      float: left;
      display: block;
      font-size: 24px;
      font-weight: 600;
      width: 98%;
      margin-top: 25px;
      padding-left: 22%;
    }
  }

  #content {
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }

  #how__it__started__section {
    h2 {
      font-size: 110px;
      line-height: 1;
      font-weight: 800;
      margin: 0;
      margin-top: 80px !important;
    }

    p {
      font-size: 28px;
      font-weight: 700;
      margin: 50px 0 110px;
      line-height: 1.4 !important;
      width: 93%;
    }
  }

  #our__values__section {
    padding: 80px 0;

    h2 {
      margin-bottom: 30px;
      font-size: 80px;
      line-height: 1.1;
      font-weight: 800;
    }

    p {
      font-size: 18px;
      width: 75%;
      line-height: 1.6 !important;
    }

    .values__point {
      .value__unit {
        text-align: center;
        margin-bottom: 30px;

        label {
          color: #14b88c;
          font-size: 140px;
          cursor: text;
          margin: 0;
          line-height: 0.8;
          font-weight: 300;
          padding: 30px;
        }

        p {
          font-size: 30px;
          margin: 0;
          color: #fff;
          font-weight: 800;
          line-height: 1.1 !important;
          text-align: center;
          width: 100%;
        }
      }
    }

    .parallax {
      .large__circle {
        width: 550px;
        height: 550px;
        bottom: -30%;
        left: -45%;
      }

      .dotted__element {
        bottom: -47%;
        left: -46%;
      }

      .layer5 {
        position: relative;
      }

      .layer6 {
        position: absolute;
      }
    }
  }

  .how__we__work__container {
    padding: 80px 0 90px;

    .how__we__work__left {
      z-index: 2;
      position: relative;
      padding-top: 15px;

      label {
        font-size: 20px;
        font-weight: 800;
        letter-spacing: normal;
        margin-bottom: 25px;
        cursor: text;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        width: 65%;
        line-height: 1.5 !important;
        margin-bottom: 25px;
      }

      h2 {
        width: 85%;
        font-size: 80px;
        line-height: 1.1;
        font-weight: 800;
        margin: 0;
      }

      button {
        margin-top: 110px;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          animation: green 0.6s linear 0s;
        }
      }
    }

    .how__we__work__img {
      margin-left: -468px;
    }

    .how__we__work__right {
      padding-top: 15px;
      margin-left: -29px;

      .list__item {
        position: relative;
        padding-left: 30px;
        margin-bottom: 30px;

        &::before {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background: #14b88c;
          position: absolute;
          top: 10px;
          left: -17px;
          z-index: 2;
        }

        label {
          font-size: 30px;
          font-weight: 700;
          cursor: text;
          margin: 0;
          text-transform: capitalize;
          letter-spacing: normal;
        }

        p {
          font-size: 16px;
          font-weight: 800;
          margin: 0;
          line-height: 1.2 !important;
        }
      }

      button {
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          animation: green 0.6s linear 0s;
        }
      }
    }
  }
}
