.clock__web {
  position: absolute;
  bottom: 60px;
  right: 50px;
}

#clock {
  position: relative;
  background-image: url("/asset/clock_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0;
  border: none;
  margin: auto;
  width: 85px;
  height: 85px;
}

#clock::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  width : 35%;
  height: 6px;
  background-color: #fff;
  position: absolute;
  top: 49.5%;
  left: 17.5%;
  transform-origin: 95%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

#second {
  height: 3px;
  visibility: hidden;
}

#minute{
  height: 2px;
}

#hour {
  width: 20px;
  left: 28%;
  top: 50%;
  height: 3px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #ore::after {
    left: 41px;
  }
  #minuti::after {
    left: 42px;
  }
}
